.footer {
  .placeholder {
    height: 480px;
  }
  .footerContent {
    position: fixed;
    z-index: 2000;
    bottom: 0px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;
    border: 1px solid #ddd;
  }
}
