.movie-list-container {
  margin-top: 24px;

  .movie-list-div {
    background-color: #fff;
    overflow: hidden;
    padding-bottom: 16px;
    box-shadow: 0 0 8px 1px #e4e5e6;
    border-bottom: 1px solid #e3e7e8;
  }
}
