.nav-container {
  background-color: #404040;

  .nav-logo {
    color: white;
    font-family: Open Sans;
    font-size: 16px;
    line-height: 46px;
  }

  .nav-add {
    margin-top: 8px;
    float: right;
  }
  .nav-user {
    margin-top: 16px;
    float: right;
    color: #aaa;
  }
}
