.player {
  background: #fff;
  margin: 24px 0px;
  border: 1px solid #e9e9e9;

  >.content {
    background: #333;
    display: flex;
    flex-direction: row;
    >.left-div {

      .mask {
        background: #000;
        position: relative;
        z-index: 1;
        text-align: center;
      }

      .bar {
        background: #fafafa;

        .ant-slider {
          border: 0px;
          z-index: 2;
          margin: 0px;
          background: none;

          .ant-slider-track {
            border-radius: 0px;
            z-index: 2;
            background: #2db7f5;
          }
          .ant-slider-step {
            background: #aaa;
            z-index: 1;
          }
          .ant-slider-handle {
            border-color: #2db7f5;
          }
        }

        .bar-content {
          padding: 8px 16px;
          border-bottom: 1px solid #eee;
          overflow: hidden;
          vertical-align: middle;

          .bar-controller {
            float: left;
            i {
              font-size: 20px;
              margin-right: 8px;
              cursor: pointer;
            }
          }

          .change-mode {
            float: right;
            margin-top: -2px;
          }
        }
      }
    }

    >.right-div {
      padding: 8px;
      color: #aaa;

      .sliceList {
        display: flex;
        flex-wrap: wrap;

        .slice {
          padding: 8px;
          background: #444;
          width: 40px;
          color: #ccc;
          text-align: center;
          border: 1px solid #555;
          margin: -1px 0px 0px -1px;
        }

        .slice-active {
          background: #333;
        }
      }

      .separate {
        border: 1px solid #444;
        border-top: 0px;
        margin: 16px 0px;
      }

      .scoreTitle {
        text-align: center;
      }

      .scoreInfo {
        text-align: center;
        font-size: 32px;
      }

      .scoreDes {
        font-size: 12px;
        text-align: center;
      }
    }
  }


  >.iflyBar {
    text-align: center;
    margin: 56px;

    .sentence {
      margin: 16px;
      padding: 8px 16px;
      border: 1px dashed #ddd;
      border-radius: 4px;

      .tip {
        color: #aaa;
      }
    }

    .controll-bar {
      .talk-button {
        width: 150px;
        margin: 8px 16px;
      }
      .controll-div {
        margin-top: 8px;
      }
    }
  }
}
